<!-- Page Content -->

	<div class="container-fluid">
		<div class="row">
			<img src="{{photo}}" class="rounded-circle z-depth-0 mx-auto  perf" alt="avatar image">
			<!--Puse el heigth porque la imagen estaba ovalada-->
		</div>
		<div class="row mb-2">
			<div class="mx-auto text-center">
				<br>
				<h3> {{usuario.nombre}} <br></h3>
				<div class="container">
					<p class="text-muted">{{usuario.sobremi}}</p>
				</div>

			</div>
		</div>

		<hr>
		<br>
		<div class="row">
			<div class="col-3">
				<br>
				<div class="fijar">
			
					<h3>{{roles}}</h3>
					<br>
					<h3>Programador</h3>	
							
				</div>
			</div>

			<!--PUBLICACIONES-->
		<div class="col scroll">
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<img class="card-img-top" src={{archivo}} data-toggle="modal" data-target="#publicacion" data-dismiss="modal" alt="Card image cap">
							<div class="card-body">
								<p class="card-text">{{descripcion}}</p>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>

			<div class="col-3">
				<h4>{{equipos}}</h4>
				<br>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4"></div>

			<div class="col-1">
				<button class="mb-2 my-2" type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#nuevaPublicacion" style="width: 150px;">
					Publicacion Nueva
				</button>
			</div>
		</div>
	</div>


<!--MODAL PUBLICACION-->

<div class="modal " id="publicacion">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="container">
                    <img src="images/concept_4.jpg" class="publicaciones_modal">
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="container justify-content-center">
                        <div class="container">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-11 float-left">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti error sapiente
                                        assumenda. Exercitationem dolores, corporis eius perspiciatis rerum consectetur
                                        facere
                                        porro dolore accusamus, nobis sequi! Eaque possimus facere eligendi optio.
                                    </div>
                                    <div class="col-1"><button id="like_boton"><p id="like">
                                        ❤
                                    </p></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



	<!--MODAL DE PUBLICACION-->
	<div class="modal" id="nuevaPublicacion">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal body -->
				<div class="modal-body w-50">
					<div id="posicion_imagen">
						<!--DIV DONDE SE PREVISUALIZA LA IMAGEN-->
					</div>
					<input type="file" name="imagen" id="imagen_perfil_archivo" class="my-2 mx-2 mt-4">
					<form action="" class="mx-2">
						<select name="categorias" class="mt-2">
							<!--seleccion de categorias para la publicacion-->
							<option value="seleciona categoria">Seleciona categoria</option>
							<option value="sonido">Sonido</option>
							<option value="dibujo">Dibujo</option>
							<option value="animacion">Animación</option>
							<option value="modelado">Modeladoo</option>
							<option value="guion">Guión</option>
							<option value="codigo">Código</option>
						</select>
						<br><br>
					</form>
					<textarea rows="2" cols="102" name="desc"></textarea>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" data-dismiss="modal">Publicar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

				</div>

			</div>
		</div>
	</div>


    
	<script>
		$(document).ready(function () {

			function filePreview(input) {
				//Miramos si hay archivos seleccionados
				if (input.files && input.files[0]) {
					var reader = new FileReader(); //Esto nos permite leer archivos

					reader.onload = function (e) { //el parametro nos permite acceder a la ruta de la imagen
						$('#posicion_imagen').html("<img src = '" + e.target.result + "' style = 'width: 100%' '/>"); //Ponemos la imagen dentro del div

					}

					reader.readAsDataURL(input.files[0]);
				}
			}


			$('#imagen_perfil_archivo').change(function () {

				filePreview(this);
			
			});

				console.log("aqui: " + $('.fijar').text())
		});
	</script>