<!-- Page Content -->
<br>
<div class="container-fluid">
	<div class="row">
		<img src="{{photo_us}}" class="rounded-circle z-depth-0 mx-auto  perf">
		<!--Puse el heigth porque la imagen estaba ovalada-->
	</div>
	<div class="row mb-2">
		<div class="mx-auto text-center">
			<br>
			<h3> {{usuario.nombre}} <br></h3>
			<div class="container">
				<p class="text-muted">{{usuario.sobremi}}</p>
			</div>

		</div>
	</div>

	<hr>
	<br>
	
	<div class="row">
		<div class="col-4">
			<h4 style="text-align: left; margin-left: 100px;"><u>Especialidades</u></h4>
		</div>
		<div class="col-4"></div>
		<div class="col-4">
			<h4 style="text-align: center; margin-left: 150px"><u>Proyecto Actual</u></h4>
		</div>
	</div>
	
	<div class="row">
		<div class="col-3" style="height: 400px; max-height: 400px; overflow-y: auto">
			<br>
			{{#each roles}}
			<div class="fijar">
				<h5 style="text-align: center;">{{nombre_rol}}</h5>
				<br>
			</div>
		{{/each}}
		</div>

		<!--PUBLICACIONES-->
		<div class="col scroll" >
			<div class="row" >
				{{#each archivo}}
				<div class="col-sm-6 clickeame" id="fotos_perfil">
					<div class="card publis_per" >
						<img class="card-img-top" id="publi_per" src={{enlace}} alt="Card image cap">
						<p style="display:none;">{{enlace}}ยบ </p>
						<div class="card-body">
							<p class="card-text" id="descri_per_pub">{{descripcion}}</p>
						</div>

					</div>
					<br>
				</div>
				{{/each}}
			</div>
		</div>

		<div class="col-3">

			<br>
			<h4 style="text-align: center;">{{equipos}}</h4>
		</div>

	</div>
	<br>
			{{#if usuario_propio}}
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4"></div>

		<div class="col-1">
			<button class="mb-2 my-2" type="button" id="boton_publ" class="btn btn-primary" data-toggle="modal"
				data-target="#nuevaPublicacion" style="width: 150px; outline: none">
				Publicacion Nueva
			</button>
		</div>

	</div>
			{{/if}}
</div>


<!--MODAL PUBLICACION-->

<div class="modal" id="publicacion">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header" >
				<div class="container publicaciones_modal mt-2">
					<!--FOTO-->
					<div class="container-fluid foto_modal" id="foto_publ"></div>
				</div>
				<br>

			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div class="container">
					<div class="container">

					</div>
					<div class="container justify-content-center">
						<div class="container">
							<div class="container-fluid">
								<div class="row">
									<div class="col-11 float-left" id="descrip_publ_modal">
										<!--descrip-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!--MODAL SUBIDA DE PUBLICACION-->
<div class="modal" id="nuevaPublicacion">
	<div class="modal-dialog modal-lg">
		<form action="/perfil" enctype="multipart/form-data" method="POST">
			<div class="modal-content">

				<!-- Modal body -->
				<div class="modal-body w-50">
					<div id="posicion_imagen">
						<!--DIV DONDE SE PREVISUALIZA LA IMAGEN-->
					</div>

					<input type="file" name="file" id="imagen_perfil_archivo" class="my-2  mt-4">
					<textarea rows="2" cols="102" class="mt-2" name="desc" required></textarea>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Publicar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

				</div>

			</div>
		</form>
	</div>
</div>



<script>
	$(document).ready(function () {

		function filePreview(input) {
			//Miramos si hay archivos seleccionados
			if (input.files && input.files[0]) {
				var reader = new FileReader(); //Esto nos permite leer archivos

				reader.onload = function (e) { //el parametro nos permite acceder a la ruta de la imagen
					$('#posicion_imagen').html("<img src = '" + e.target.result + "' style = 'width: 100%' '/>"); //Ponemos la imagen dentro del div

				}

				reader.readAsDataURL(input.files[0]);
			}
		}


		$('#imagen_perfil_archivo').change(function () {

			filePreview(this);

		});

		//console.log("aqui: " + $('.fijar').text());


		$('.clickeame').click(function () {
			console.log("s")
			$("#publicacion").modal("show");
			//console.log(publicacion);
			var nueva_desc = String($(this).text());

			var bre1 = nueva_desc.indexOf('ยบ');

			var enlace = nueva_desc.substring(0, bre1);
			var des = nueva_desc.substring(bre1+1);

			$('#descrip_publ_modal').text(des);

			var imagen = enlace;
			var img = new Image();
			img.src = imagen;
			var imagen_final = img.src;
			//console.log(imagen_final)
			//console.log(imagen);

			//$('#foto_publ').html(img)
			$('#foto_publ').css('background-image', 'url(' + imagen_final + ')');
			$('#foto_publ').css("background-repeat", 'no-repeat');
			$('#foto_publ').css("background-repeat", 'no-repeat');
			$('#foto_publ').css("background-size", "100% 100%");

		});
	});
</script>