<div class="album py-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <form action="" class="mx-2">
          <select name="categorias" class="mt-2">
            <!--ver el tpo de categoria seleccionada-->
            <option value="codigo">Programacion</option>
            <option value="musica">Musica</option>
            <option value="dibujo">Arte</option>
            <option value="guion">Guión</option>
          </select>
          <br><br>
        </form>
      </div>
      <div class="col-2">
        <form action="" class="mx-2">
          <select name="categorias" id="filtros_public" class="mt-2">
            <!--filtos de busqueda-->
            <option value="recientes" selected>Recientes</option>
            <option value="mas valorados">Más Valorados</option>
            <option value="destacados">Destacados</option>
          </select>
          <br><br>
        </form>

      </div>
    </div>
    <hr class="mb-5">


    <div class="row">
      <span id="sacar_publ">{{#each publicacion}}</span>


      <div class="col-md-4">
        <div class="card mb-4 box-shadow tarjeta_publicacion">
          <!--img class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="images/gif.gif" data-holder-rendered="true"-->
          <p class="fotos" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true"
            data-toggle="modal" data-target="#publicacion" data-dismiss="modal">
            {{enlace}}
          </p>


          <button type="button" class="btn btn-sm btn-outline-secondary reporte mx-3" data-toggle="modal"
            data-target="#nuevoReporte">🚩</button>
          <div class="card-body descripcion_publicaciones my-2">
            {{descripcion}}
          </div>
          <hr>
          <div>
            <button type="button" class="like mb-2">❤️</button>
          </div>

        </div>
      </div>

      {{/each}}


    </div>

  </div>

</div>



<!-- Modal Reporte -->
<div class="modal" id="nuevoReporte">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title titulo">Reporte</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" class="mx-2">
          <select name="causas" class="mt-2">
            <!--Causa del reporte de la publicación-->
            <option value="selecionaCausa">Seleciona causa</option>
            <option value="ofensivo">Ofensivo</option>
            <option value="plagio">Plagio</option>
            <option value="ntsw">Inadecuado</option>
            <option value="otrasCausas">otros</option>
          </select>
          <br><br>
        </form>
        <textarea style="width:100%" placeholder="Dinos el motivo de tu reporte" name="descripcion"></textarea>
        <input type="file" name="imagen" id="seleccionar_motivo_reporte" class="my-2 mt-4">


      </div>





      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

      </div>

    </div>
  </div>
</div>

</div>


<!--MODAL PUBLICACION-->


<div class="modal " id="publicacion">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="container publicaciones_modal">
          {{publicacion.enlace}} .{{this}}
        </div>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="container justify-content-center">
            <div class="container">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-11 float-left">
                    {{publicacion.descripcion}}
                  </div>
                  <div class="col-1">
                    <button id="like_boton">
                      <p id="like">
                        ❤
                      </p>
                    </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
  
    $('.like').click(function(){
      var likeado = 0;
      likeado += 1;
      

      if(likeado == 1){
        //const like_dado = dbconn.query(' SELECT * FROM publicacion ORDER BY likes DESC');
        //console.log(like_dado)
      }
      

    })

  });

</script>