
<div class="modal log uk-modal-dialog" id="nuevaPublicacion">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container modal_login">
                    <h1 class="form-heading"></h1>
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h2>Sign In!</h2>
                                <p>Please enter your email and password</p>
                            </div>
                            <form id="Login">

                                <div class="form-group">


                                    <input type="email" class="form-control" id="inputEmail"
                                        placeholder="Email Address">

                                </div>

                                <div class="form-group">

                                    <input type="password" class="form-control" id="inputPassword"
                                        placeholder="Password">

                                </div>
                                <div class="row mx-2">
                                    <div class="forgot">
                                        <a href="reset.html" data-toggle="modal" data-target="#reset"
                                            data-dismiss="modal">Contraseña olvidada?</a>
                                    </div>
                                    <div class="register">
                                        <a href="register.html" data-toggle="modal" data-target="#registro"
                                            data-dismiss="modal">Registrarse!</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL RECUPERAR CONTRASEÑA-->
<div class="modal " id="reset">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <h1 class="form-heading"></h1>
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h2>Reset Password</h2>
                                <p>Please enter your email</p>
                            </div>
                            <form id="Login">

                                <div class="form-group">


                                    <input type="email" class="form-control" id="inputEmail"
                                        placeholder="Email Address">

                                </div>
                                <button type="submit" class="btn btn-primary">Send Reset Email</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL REGISTRO-->
<div class="modal " id="registro">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="container justify-content-center">
                        <div class="form register justify-content-center py-3"></div>
                        <form>
                            <div class="form-group  justify-content-center">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll send you an email with the
                                    new Pasword</small>
                            </div>
                            <div class="form-group  justify-content-center">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-group  justify-content-center">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Confirm Password">
                            </div>
                            <div>
                                <label for="exampleInputPassword1">Countrie</label>
                                <select class="form-control form-control">
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                    <option>Small select</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I've read the <a href="#">terms
                                        and conditions</a></label>
                            </div>
                            <button type="submit" class="btn btn-primary mb-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Banner Jumbotron-->
<div class="jumbotron banner container-fluid">
    <div class="container">
        <h1 class="display-4">Dev2Play</h1>
        <p class="lead" style="text-align: left;">En esta web podras conocer gente nueva con la que crear el videojuego de tus sueños.
        Ahora podras crear tu videojuego sin tener que saber hacer de todo, ya que puedes crear proyectos y decir el tipo de personas que necesitas como pueden ser programadores, ilustradores y mas puestos que acaben en dores.
        </p>
    </div>
</div>



<!--Imagenes y proyectos visibles-->
<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col-5 imagenes">

            <h3 class="float-left ml-4"><u>Publicaciones Destacadas</u></h3>

            <div style="overflow-y: auto; overflow-x: hidden; width: 800px; max-height: 520px; min-height: 520px;">
                <div class="row ml-2 mt-4">
                    <!--CARD-->
                    {{#each publicacion}}

                    <div class="col-4 clickeame">
                        <img src="{{enlace}}" class="publicaciones_home">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-2"></div>
                    {{/each}}
                </div>
            </div>

        </div>
        <div class="col-2">
        </div>
        <div class="container-fluid"></div>

        {{#each proyecto}}
        <!--Proyectos-->
        <div class="container">
            <div class="col-5 fichas_home">
                <div class="row">
                    <div class="col-12">
                        <h3 style="font-family: fjalla;">{{titulo}}</h3>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row">
                    <p id="desc">{{descripcion}}</p>
                </div>
                <hr class="my-3">
                <div class="row">
                    <div class="col-12">
                        <h5 class="mb-3">Se busca:</h5>
                    </div>
                </div>
                <div class="row mb-1 mr-1">
                    <p class="roles">{{roles}}</p>
                </div>
                <hr>
                <div class="participantes mt-4">
                    {{'COUNT(equipos.usuario)'}} / Miembros
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>

<!--TEXTO OPCIONES PREMIUM-->
<div class="container-fluid">
    <h3 class="prem">OPCIONES PREMIUM</h3>
</div>

<!--TARJETAS PREMIUM-->
<div class="container">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="images/5euros.png" class="dinero5" width="700px">
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <img src="images/10euros.png" class="dinero10" width="620px">
            </div>
        </div>
    </div>
</div>
    <br><br>


<!--Codigo enlace desde los div-->
<script>
    $(document).ready(function () {

        //console.log($('.fichas_home').html());

        $(document).on('click', '.fichas_home', function () {
            location.href = '/fichaProyecto';
        })

        $('.clickeame').click(function () {
            location.href = "/verPublicaciones/filtro/3"
        });


    });
</script>